/* Navbar */

.linkContainer h1 {
    display: inline-block;
}

.linkContainer {
    display: grid;
    grid-template-areas: 'home title history';
    background-color: black;
    margin: -10px;
}

.links {
    text-align: center;
}

#home {
    padding: 23px;
    text-decoration: none;
    color: white;
    grid-area: home;
    font-size: 25px;
}

#title {
    grid-area: title;
    background-color: black;
    color: white;
}

#history {
    padding: 23px;
    text-decoration: none;
    color: white;
    grid-area: history;
    font-size: 25px;
}

#history:hover {
    color: -webkit-link;
}

#home:hover {
    color: -webkit-link;
}

/* Home Component */

.homeContainer {
    margin-top: 15px;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'spin add'
    'arrow .'
    'wheel .';
    grid-template-rows: 200px 20px 200px;
    grid-template-columns: 1fr 1fr;
}

.spinArrow {
    transform: rotate(133deg);
    width: 3%;
    grid-area: arrow;
    position: relative;
    margin: auto;
    bottom: 45px;
}

.addNew {
    grid-area: add;
    padding: 30px;
}

.addNew input {
    margin: 20px;
}

/* History Component */

.historyContainer {
    text-align: center;
}

#spinBtn {
    box-shadow: 1px 1px 3px black;
    border-radius: 16px;
    padding: 21px;
    grid-area: spin;
}

#wheel {
    display: inline-block;
}

svg {
    width: 400px;
}

.pieDiv {
    grid-area: wheel;
    position: relative;
    top: 40px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s ease-out
}